<!DOCTYPE html>
<html>
  <head>
    <title>Administração da Casa</title>
    <%- include('../../imports'); -%>
  </head>
  <body>
    <%- include('../../navbar'); -%>

    <div class="executive container">
      <div class="row">


      </div>
    </div>
      <div class="mx-auto fixed-bottom" style="width: 400px;">
        <%- include('../../footer'); -%>
      </div>
  </body>
</html>