<!DOCTYPE html>
<html>
  <head>
    <title>Casa da Mãe Joana</title>
    <%- include('imports'); -%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('navbar'); -%>
    <div class="pagina-inicial border md-12 container">
      <h1 class="row center"><%= title %></h1>
      <p class="row">Welcome to <%= title %></p>
    </div>
  </body>
</html>
