<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <%- include('imports'); -%>
</head>

<body>
  <%- include('navbar'); -%>

  <div class="container">
    <div class="row">
      <form action="create" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-primary">Acender</button>
      </form>

    </div>
  </div>

</body>

</html>